/* Right-aligned section inside the top navigation */
.shaple-menu {
  float: right;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #4c4c4c;
     }

/* Page Title */
.shaple-title {
    font-size: 24px;
    line-height: 52px;
    color: #666;
    font-weight: 300;
    box-sizing: inherit;
}
